<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>

    <vtex.cmc:seoHead />
    <vtex:metaTags />
    <vtex:template id="evailson-barbosa-styles" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>

    <!-- Chamada do cabeçalho da loja -->

    <vtex:template id="evailson-barbosa-header" />

    <main>

        <!-- Estrutura para slide principal -->

        <article class='slide-principal-container'>
            <figure class="container slide-principal">
                <vtex:contentPlaceHolder id="evailson-barbosa-slide-principal" />
            </figure>

            <button class="slide-principal-container__button--prev">
                <vtex.cmc:EvailsonBarbosaSVGSetaBanner />
            </button>
            
            <button class="slide-principal-container__button--next">
                <vtex.cmc:EvailsonBarbosaSVGSetaBanner />
            </button>
        </article>
        
        <vtex:contentPlaceHolder id="evailson-barbosa-information-bar" />

        <article class="container-center shelf_container">
            <vtex:contentPlaceHolder id="evailson-barbosa-prateleira01" />
        </article>

        <article class="department-list">
            <vtex:contentPlaceHolder id="departamentos" />
        </article>

    </main>

    <!-- Chamada para o rodapé -->

    <vtex:template id="evailson-barbosa-footer" />

    <!-- Chamada para os scripts Js da loja -->

    <vtex:template id="evailson-barbosa-scripts" />

</body>

</html>