<div class="container-center">
  <h3>Navegue nos principais departamentos</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor liqua.</p>

  <ul class="deparment-list__list">
    <li class="department-list__list__item">
      <a href="#">
        <img src="/arquivos/evailson-tc-banner-mosaico-001.jpg" />
        <h4>Departamento 1</h4>
        <p>Lorem ipsum dolor sit amet</p>
      </a>
    </li>
    <li class="department-list__list__item">
      <a href="#">
        <img src="/arquivos/evailson-tc-banner-mosaico-002.jpg" />
        <h4>Departamento 2</h4>
        <p>Lorem ipsum dolor sit amet</p>
      </a>
    </li>
    <li class="department-list__list__item">
      <a href="#">
        <img src="/arquivos/evailson-tc-banner-mosaico-003.jpg" />
        <h4>Departamento 3</h4>
        <p>Lorem ipsum dolor sit amet</p>
      </a>
    </li>
    <li class="department-list__list__item">
      <a href="#">
        <img src="/arquivos/evailson-tc-banner-mosaico-004.jpg" />
        <h4>Departamento 4</h4>
        <p>Lorem ipsum dolor sit amet</p>
      </a>
    </li>
    <li class="department-list__list__item">
      <a href="#">
        <img src="/arquivos/evailson-tc-banner-mosaico-005.jpg" />
        <h4>Departamento 5</h4>
        <p>Lorem ipsum dolor sit amet</p>
      </a>
    </li>
    <li class="department-list__list__item">
      <a href="#">
        <img src="/arquivos/evailson-tc-banner-mosaico-006.jpg" />
        <h4>Departamento 6</h4>
        <p>Lorem ipsum dolor sit amet</p>
      </a>
    </li>
    <li class="department-list__list__item">
      <a href="#">
        <img src="/arquivos/evailson-tc-banner-mosaico-007.jpg" />
        <h4>Departamento 7</h4>
        <p>Lorem ipsum dolor sit amet</p>        
      </a>
    </li>
    <li class="department-list__list__item">
      <a href="#">
        <img src="/arquivos/evailson-tc-banner-mosaico-008.jpg" />
        <h4>Departamento 8</h4>
        <p>Lorem ipsum dolor sit amet</p>
      </a>
    </li> 
  </ul>
</div>