<section class="information-bar container-center">
  <div class="information-bar__box">
    <img src="/arquivos/evailson-parcelamento.svg" alt="Parcelamento">
    <p class='information-bar__box__text'>Parcelamento em até <b>6x sem juros</b>. Parcela minima de R$50,00</p>
  </div>
  <div class="information-bar__box">
    <img src="/arquivos/evailson-frete-gratis.svg" alt="Frete gratis">
    <p class='information-bar__box__text'><b>Frete Grátis Brasil*</b>. Nas compras acima de R$ 99,90</p>
  </div>
  <div class="information-bar__box">
    <img src="/arquivos/evailson-primeira-troca.svg" alt="Troca gratis em até 30 dias">
    <p class='information-bar__box__text'>Primeira <b>Troca Grátis*</b> em até 30 dias</p>
  </div>
  <div class="information-bar__box">
    <img src="/arquivos/evailson-boleto.svg" alt="Parcelamento">
    <p class='information-bar__box__text'><b>5% de desconto</b> à vista no boleto bancário</p>
  </div>
</section>