<header>
    <article class="header">
    
        <section class="headerTop">
            <div class="container-center">

                <section class="headerTop__contact">
                    <p class="headerTop__contact-item">Atendimento ao cliente: <b><vtex.cmc:EvailsonBarbosaINFOSACPhone/></b></p>
                    <p class="headerTop__contact-item">Whatsapp: <b><vtex.cmc:EvailsonBarbosaINFOWhatsappNumber/></b></p>
                </section>
    
                <a class="headerTop__orders">
                    <i class="fas fa-bars"></i>
                    <p>Meus <b>Pedidos</b></p>
                </a>   

            </div>
        </section>

        <section class="headerMain">
            <div class="container-center">

                <a class="headerMain__logo-wrapper" href="/">
                    <vtex.cmc:evailsonBarbosaLogo />
                </a>
    
                <section class="headerMain__search">
                    <input class="headerMain__search-input" type="text" placeholder="Digite aqui" />
                    <button class="headerMain__search-button">
                        <vtex.cmc:EvailsonBarbosaSVGLupa/>
                    </button>
                </section>
                    
                <section class="headerMain__userNav">
                    <div class="headerMain__userNav-login">
                        <vtex.cmc:EvailsonBarbosaSVGLoginCadastreSe/>
                        <p>Login/Cadastre-se</p>
                    </div>
    
                    <a class="headerMain__userNav-cart">
                        <vtex.cmc:EvailsonBarbosaSVGCarrinho/>
                        <p class="headerMain__userNav-cart-qtd">1 item(s)</p>
                    </a>
                </section>
                
            </div>
        </section>

    </article>

    <!-- Estrutura menu -->

    <nav class="menu">
        <ul class="menu__nav">
            <a href="#"><li class="menu__nav-item">INFORMÁTICA</li></a>
            <a href="#"><li class="menu__nav-item">ESCRITÓRIO</li></a>
            <a href="#"><li class="menu__nav-item">ELETRONICOS</li></a>
            <a href="#"><li class="menu__nav-item">ESCOLAR</li></a>
            <a href="#"><li class="menu__nav-item">MÍDIA</li></a>
            <a href="#"><li class="menu__nav-item">CATEGORIA</li></a>
        </ul>
    </nav>

</header>