<footer>

    <!-- Estrutura footer -->
    <article class="footer container-center">
        <div class="footer-container">

            <section class="footer-section vertical">
                <h1 class="footer-text__title">Lorem ipsum dolor sit amet</h1>
                <b>Mauris lacinia turpis non odio convallis consectetur.</b>
                <p>vitae vulputate ante interdum non. Quisque maximus malesuada mauris eget scelerisque. Mauris lacinia turpis non odio convallis consectetur.</p>
            </section >

            <section class="footer-section horizontal">
                <vtex.cmc:evailsonBarbosaLogo />
                <p>vitae vulputate ante interdum non. Quisque maximus malesuada mauris eget scelerisque.</p>
            </section>

            <section class="footer-section horizontal">
                <section class="footer-info">
                    <p>Razäo Social: Agéncia e-Plus ltda I CNPJ -
                    18.106.304/0001-011 Endereqo: Borges Lagoa, 564, 13
                    andar CEP: 04038-0001 Vila Mariana - Sä0 Paulo</p>
                    <p>Horario de atendimento da loja: 09H00 às 18H00</p>
                </section>

                <section>
                    <nav class="footer-links__nav">
                        <h3 class="footer-links__title">e-Plus</h3>
                        <ul class="footer-links__list">
                            <li class="footer-links__list-item">
                                <a class="footer-links__link" href="/institucional/quem-somos">/Quem Somos</a>
                            </li>
                            <li class="footer-links__list-item">
                                <a class="footer-links__link" href="/institucional/politica-de-privacidade">/Política de
                                    Privacidade</a>
                            </li>
                        </ul>
                    </nav>

                    <nav class="footer-social-links__nav">
                        <h3 class="footer-links__title">Junte-se à nós</h3>
                        <ul class="footer-social-links__list">
                            <li class="footer-links__list-item--horizontal">
                                <a class="footer-links__link" href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li class="footer-links__list-item--horizontal">
                                <a class="footer-links__link" href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="footer-links__list-item--horizontal">
                                <a class="footer-links__link" href="#"><i class="fab fa-youtube"></i></a>
                            </li>
                        </ul>
                    </nav>
                </section>
                
                <section>
                    <nav class="footer-links__nav">
                        <h3 class="footer-links__title">Dúvidas</h3>
                        <ul class="footer-links__list">
                            <li class="footer-links__list-item">
                                <a class="footer-links__link" href="#">/Minha conta</a>
                            </li>
                            <li class="footer-links__list-item">
                                <a class="footer-links__link" href="#">/Minha conta</a>
                            </li>
                            <li class="footer-links__list-item">
                                <a class="footer-links__link" href="#">/Minha conta</a>
                            </li>
                        </ul>
                    </nav>
                </section>

                <section class="footer-seguranca">  
                    <nav class="footer-links__nav">
                        <h3 class="footer-links__title">Segurança</h3>
                        <ul class="footer-links__list">
                            <li class="footer-links__list-item--horizontal">
                                <a class="footer-links__link" href="/institucional/central-atendimento">
                                    <img src='/arquivos/evailson-barbosa-vtex-certified.png' />
                                </a>
                            </li>
                            <li class="footer-links__list-item--horizontal">
                                <a class="footer-links__link" href="/institucional/central-atendimento">
                                    <img src='/arquivos/evailson-barbosa-lets-encrypt.png' />
                                </a>
                            </li>
                        </ul>
                    </nav>
                </section>
            </section>

            <section class="footer-section horizontal pagamentos">
                <p>Todos os direitos reservados. Loja de testes. As informaqöes näo podem ser reproduzidas total ou parcialmente sem autorizaqäo prévia.</p>
                <div class="footer-pagementos"></div>
            </section>

            <section class="footer-section horizontal logos">
                
            </section>
        </div>
    </article>
</footer>